.header-box {
  padding: 5px 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
}

@media (max-width: 750px){
  .img-logo {
    width: 3rem;
    height: 2rem;
  }
}