.nav_logo{
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: #fff;
}
.nav_items a{
  margin: 15px;
  margin-left: 2rem;
  color: #fff;
  position: relative;
  text-decoration: none;
  display: none;
  text-align: center;
 
}

.divAncor {
  margin-top: 10px;
  width: 20px;
  background-color: #fff;
  margin-left: 1.4rem;
  border-radius: 10px;
  
  width: 90%;
}

#ancor {
  color: blue;
  margin-left: 0.4rem;
}

.nav_items{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}


.logo img{
  width: 96px;
  height: 57px;
  
}
.img-navbar {
  width: 46px;
height: 46px;
border-radius: 50px;
margin-left: 2rem;

}

nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
}

.porfile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.porfile-text{
  text-align:left;
  color: #fff;
}

.porfile-text p{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}




.nav_items{
  z-index: 800;
  position: fixed;
  top: 0px;
  left: 0;
  background: linear-gradient(87.46deg, #4338CA 0%, #5E52F3 100%);
  display: flex;
  flex-direction: column;
  width: 30%;
  height: -webkit-fill-available;
  transform: translateX(-100%);
  transition: 0.3s ease all;
  height: 100vh;
}
.nav_items.open{
  transform: translateX(0) !important
}

.nav_items a{
  display: flex;
}

.nav_toggle{

  display: flex !important;
  flex-direction: column;                
  margin: 15px;
  cursor: pointer;
}
.nav_toggle span{
  width: 30px;
  height: 4px;
  background: white;
  margin-bottom: 5px;
  border-radius: 2px;             
  transform-origin: 5px 0px;
  transition: all 0.2s linear;
}




.nav_toggle {
  z-index: 10000;
}
.nav_toggle.open > span{
  transform: rotate(45deg) translate(0px, 0px);
  margin-top: -8px;
  margin-left: 230px;
  background: #fff;
  z-index: 10000;
  position: fixed;
}
.nav_toggle.open > span:nth-child(2){
  display: none;
}
.nav_toggle.open > span:nth-child(3){
  transform: rotate(-45deg) translate(-5px, 1px);
margin-top: 1px;
background: #fff;
}


.nav_items{
  justify-content:flex-start;
  display: flex;
  padding-top: 30px;
}


@media (max-width: 1345px){
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
      margin-top: -8px;
      margin-left: 15%;
  }
}


@media (max-width: 1024px) {
  .nav_items span {
     
      padding: 10px 3rem;
  }
  .nav_items{
      width: 50%;
  }
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
      margin-top: -8px;
      margin-left: 30%;
  }
}




@media (max-width: 700px) {
  .nav_items{
      position: absolute;
     
      top: 0px;
      left: 0;
      background: linear-gradient(87.46deg, #4338CA 0%, #5E52F3 100%);
      display: flex;
      flex-direction: column;
      width: 100%;
      height: -webkit-fill-available;
      transform: translateX(-100%);
      transition: 0.3s ease all;
      height: 100vh;
      position: fixed;
}
  .nav_items.open{
      transform: translateX(0) !important
  }

  .nav_items a{
      display: flex;
  }
  .porfile-text p{
      font-size: 14px;
  }
  
  .nav_toggle{
      display: flex !important;
      flex-direction: column;                
      margin: 15px;
  }
  .nav_toggle span{
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 5px;
      border-radius: 2px;             
      transform-origin: 5px 0px;
      transition: all 0.2s linear;    
    }

 
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
      margin-top: -8px;
      margin-left: 72%
  }
  .nav_toggle.open > span:nth-child(2){
      display: none;
  }
  .nav_toggle.open > span:nth-child(3){
      transform: rotate(-45deg) translate(-5px, 1px);
  }
 
  .nav_items span {
     
      padding: 10px 5rem;
  }
    .logo img {
      width: 3rem;
      height: 2rem;
    }
}

@media (max-width: 500px) {
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
      margin-top: -8px;
      margin-left: 70%;
  }
}

@media (max-width: 320px) {
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
      margin-top: -8px;
      margin-left: 75%;
  }
  
}