* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

.header {
  background-image: url('../public/image/branden-skeli-kQ0_flbwBI4-unsplash 1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 17%;
  width: 100%;
  min-height: 60vh;
  padding-top: 2rem;
  object-fit: cover;
 
}

.conteiner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
}

.conteiner-form{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.conteiner-img{
  width: 50%;
  
}

.form-conteiner{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-form {
  width: 100%;
height: 715px;
}


@media (max-width: 750px){
  .header {
    background-image: url(../public/image/fondomedia.png);
    min-height: 100vh;
  }

}

@media (max-width: 960px){
  .conteiner {
    width: 100%;
    display: flex;  
    justify-content: center;
  }
  .conteiner-img {
    display: none;
  }
}

@media (max-width:720px) {
  
  .conteiner {
    width: 100%;
    
    display: flex;  
    justify-content: center;
    
  }
  .conteiner-form {
    width: 30rem;
  }
}
